<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
    <!-- HEADER -->
  
     <header th:replace="/fragments/header :: header"></header>
    <br>
    <br>
    <!-- MAIN -->
    <div class="super-container">     
     
         <br>
         <section>        
            <div class="container-center">
                <div class="container">
                    <div class="info">
                        <h2>Date</h2>
                        <div class="son-info">
                            <h3>17 sep 2021</h3>
                        </div>
                    </div>
                    <div class="info">
                        <h2>From Card</h2>
                        <div class="son-info">
                            <h4>**** **** **** 3321</h4>
                        </div>
                    </div>
                    <div class="info">
                        <h2>To Card</h2>
                        <div class="son-info">
                            <h4>**** **** **** 4412</h4>
                        </div>
                    </div>
                    <div class="info">
                        <h2>Description</h2>
                        <div class="son-info">
                            <h3>Various</h3>
                        </div>
                    </div>
                    <div class="info">
                        <h2>Amount</h2>
                        <div class="son-info">
                            <h5>210.00 <span> USD</span></h5>
                        </div>
                    </div>
                    

                </div>
                <div class="container-alert">
                    <div class="alert">
                        <h3>SUCCESSFUL TRANSFER</h3>
                    </div>
                </div>
                
            </div>
           
         
         </section>
        </div>
         <br>
         
    </div>
       
    
      
    <footer>
        <div class="footer_logo">
            <div class="copy">
                <!-- <img src="img/logo.png" alt=""> -->
              <h3>Copyright @ 2022 St Patrick's Bank</h3>
            </div>
            
        </div>
    </footer>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>