


:root{
    --yellow: #f0c44e;
    --blue-green-dark: #095757;
    --nav:#e9f5f5;
    --blue-green:#72ada0;
    --light-blue:#78b4b6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    outline: none;
}

body{
    background: #fff;
    font-family: 'Roboto';

}
.container{
    width: 95%;
    margin: auto;

}



header{
    padding: 30px 0;
    background: var(--nav);

}


header .container{
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}
header .container img{
    margin-left: 3.33em;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;

}
header .container h2{
    margin-right: 500px;
    font-weight:bold;
}

header .logo{

    font-weight: normal; 
    color: #000;
    font-size: 40px;

}

header .navar a{    
    letter-spacing: 5px;         
    margin-bottom: 20px;
}

header .navar a{    


    font-size: 20px;
    margin-right: 75px;
    margin-left: -50px;    
    color: #aaa;

    text-decoration: none;   

}


header nav a:hover,
header nav a.active{

    color:#000;    
    background-color: #f0c44e;
}

/*************** MAIN *************/
.balance{
    width: 72%;
    margin: auto;
}

main{
    padding: 10px 0;    
    background: #fff;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 2px solid var(--blue-green-dark);
    border-right: 2px solid var(--blue-green-dark);
    border-bottom: 2px solid var(--blue-green-dark);
    border-left: 2px solid var(--blue-green-dark);
    border-radius: 23px;

}


main .balance{
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}

.balance h3{
    font-weight: 400;
    font-size: 30px;
}
.balance h2{
    font-weight: 400;
    font-size: 50px;
    color: var(--blue-green-dark);

}
.balance h2 span{
    font-size: 30px;
}


/* Operations */



section{
    width: 90%;
    margin: auto;
}




section .opera{

    padding: 30px 0px 30px;
    margin: 30px;
    background: #fff;
    width: 90%;
    margin-left: 60px;
    margin-right: 10px;
    border-top: 1px solid var(--blue-green-dark);
    border-right: 1px solid var(--blue-green-dark);
    border-bottom: 1px solid var(--blue-green-dark);
    border-left: 1px solid var(--blue-green-dark);
    border-radius: 23px;

}



.operation-style .table{
    display: block;    
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.operation-style:hover .table,
.operation-style .table.show{

    max-height: 400px;    
    overflow: hidden;
    transition: all 0.5s;

}


.opera{ 
    display: flex;    
    justify-content: space-around;
    font-size: 20px;



}




.table #type{    
    font-size: 25px;
    line-height: 2;
    width: 100px;
    font-weight: 300;
    margin-left: -100px;

}
.table #date{
    font-size: 25px;
    width: 200px;
    line-height: 2;
    letter-spacing: 0.1cm;    
    font-weight: 100;
}

.table #amount{

    font-size: 25px;
    line-height: 2;
    font-weight: 400;


}
.table #amount #span-amount{
    font-size: 10px;
}


.opera h3{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    font-weight: 500;
    font-size: 30px;

}

section h3{
    padding: -10px;
    margin: 14px;
    font-size: 25px;
    text-transform: uppercase;
    color: #095757;
}

/* Btn */

section .btn{
    margin-top: 10px;
    margin-left:92% ;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    cursor: pointer;
    background: #f0c44e;
    border: none;

}

section .btn:hover{
    color: var(--blue-green-dark);
    filter: drop-shadow(0 0 5px var(--yellow)) drop-shadow(0 0 15px var(--yellow));
}
.btn.act{
    color: #fff;

}
.btn-special{
    margin-left: -2.5em;
}
section .btn-t {
    display: flex;
    align-items: center; 
    justify-content: center;  

    margin-top: 1em;
    margin-left: 28.5em; 
    width: 20%;
    height: 50px;
    background: #000;
    color: #000;

    font-size: 20px;
    font-weight: 18.75em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s ease all;
    border-radius: 5px;
    position: relative; 
    overflow: hidden; 
    background-color: #f0c44e;

}

section .btn-t:hover{
    color: #000;
    filter: drop-shadow(0 0 5px var(--yellow)) drop-shadow(0 0 15px var(--yellow));
}

/* Footer */

footer{

    padding: 30px 0;
    background: var(--yellow);



}



.footer_logo .copy{
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;



}

.super-container{
    min-height: calc(100vh - 245px);
}





/* Media Queries */




@media screen and (max-width: 1420px){
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .container {
        flex-direction: column;
        text-align: center;

    }
    header .container h2{
        margin-top:15px;
        margin-right: 5px;
        font-weight:700;
    }
    header .navar{
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-left: 150px;
    }

    section .btn{
        margin-left: 90%;
    }

    section .btn-t {
        display: flex;
        align-items: center; 
        justify-content: center; 
        margin-top: 1em;
        margin-left: 26.5em;
        width: 20%;
        height: 50px;
        background: #000;
        color: #000;

        font-size: 20px;
        font-weight: 18.75em;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative; 
        overflow: hidden; 
        background-color: #f0c44e;

    }





}
@media screen and (max-width: 1220px){
    section .btn-special{
        margin-left: -120px;
    }

}
@media screen and (max-width: 900px){

    header .container h2{
        font-size: 0;
    }

    section .btn{
        margin-left: 50%;
    }
    footer .footer_logo .copy{

        margin-top: 0;
        text-align: initial;           
        margin-left: 20px;
        font-size: 12px;

    }
    section .btn-t {
        margin-top: 50px;
        margin-right: -200px;        

        height: 50px;
        background: #000;
        color: #000;

        font-size: 20px;
        /* font-weight: s.75em; */
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative; 
        overflow: hidden; 
        background-color: #f0c44e;

    }
    html{
        font-size: 55%;
    }

    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }
    section .btn-special{
        margin-left: -160px;
        font-size: 14px;

    }

}
@media screen and (max-width: 854px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: 600px;
        background: #095757;
        margin-top: -300px;
        border-radius: 100%;

    }



    header .navar{
        position: absolute;
        top:60px; left:0; right:0px;
        background:#095757;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 150% 0, 50% 0, 0 0);
    }

    header .navar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        font-size: 2rem;
        background:#eee;
    }

    section .btn-special{
        margin-left: -90px;
        font-size: 14px;

    }

    section .btn{
        margin-left: 50%;
    }
    section .btn-t {        
        margin-top: 1em;
        margin-left: -900px;
        width: 30%;
        height: 50px;
        background: #000;
        color: #000;

        font-size: 20px;
        font-weight: 18.75em;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative; 
        overflow: hidden; 
        background-color: #f0c44e;

    }

    section .btn-special{
        margin-left: 250px;
    }


    section .btn-special .btn-t{
        font-size: 15px;
    }

    footer .footer_logo .copy{

        margin-top: 0;
        text-align: initial;           
        margin-left: 20px;
        font-size: 12px;

    }
    .super-container{
        min-height: calc(100vh - 205px);
    }
}
@media screen and (max-width: 861px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: 600px;
        background: #095757;
        margin-top: -300px;
        border-radius: 100%;

    }



    header .navar{
        position: absolute;
        top:60px; left:0; right:0px;
        background:#095757;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 150% 0, 50% 0, 0 0);
    }

    header .navar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        font-size: 2rem;
        background:#eee;
    }

    section .btn-special{
        margin-left: -90px;
        font-size: 14px;

    }

    section .btn{
        margin-left: 50%;
    }
    section .btn-t {        
        margin-top: 1em;
        margin-left: -900px;
        width: 30%;
        height: 50px;
        background: #000;
        color: #000;

        font-size: 20px;
        font-weight: 18.75em;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative; 
        overflow: hidden; 
        background-color: #f0c44e;

    }

    section .btn-special{
        margin-left: 250px;
    }


    section .btn-special .btn-t{
        font-size: 15px;
    }

    footer .footer_logo .copy{

        margin-top: 0;
        text-align: initial;           
        margin-left: 20px;
        font-size: 12px;

    }
}
@media screen and (max-width: 630px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: 500px;
        background: #095757;
        margin-top: -300px;
        border-radius: 100%;

    }



    header .navar{
        position: absolute;
        top:60px; left:0; right:0px;
        background:#095757;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 150% 0, 50% 0, 0 0);
    }

    header .navar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        font-size: 2rem;
        background:#eee;
    }


    section  {
        margin-left: -50px;

    }
    section .title-section {
        margin-left: 50px;

    }

    section .btn-button{
        margin-left: 140px;
    }
    section .btn-special{
        margin-left: 30px;
        font-size: 12px;
        width: 400px;

    }
    section .btn-special .btn-t{
        font-size: 14px;
    }

    section .title-h3{
        margin-left: 160px;
    }

    section .opera{
        margin-left: 110px;
    }

    footer .footer_logo .copy{

        margin-top: 0;                  
        margin-left: 40px;
        font-size: 12px;

    }

}
@media screen and (max-width: 751px){
    section .btn{
        margin-left: 50%;

    }
    main .balance{
        flex-direction: column;
    }
    section .opera h3{
        margin-right: 60px;
        flex-direction: column;
    }    
    section .btn-special{
        margin-left: 100px;
    }


    section .btn-special .btn-t{
        font-size: 15px;
    }

}
@media screen and (max-width: 536px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: 400px;
        background: #095757;
        margin-top: -300px;
        border-radius: 100%;

    }



    header .navar{
        position: absolute;
        top:60px; left:40; right:80px;
        background:#095757;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 150% 0, 50% 0, 0 0);
    }

    header .navar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        font-size: 2rem;
        background:#eee;
    }


    main .balance{
        flex-direction: column;
        font-size: 18px;
    }
    main .balance h2{
        margin-left: 30px;
        font-size: 16px;
    }
    main .balance h2 span{
        margin: auto;
        margin-left: 0px;
        font-size: 12px;
    }
    section{
        flex-direction: column;
    }
    header .navar a{
        flex-direction: column;
    }

    header .navar{
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-right: -80px;
        margin-left: 50px;
    }

    section .btn{
        margin-left: 50%;
    }
    section .btn-special{
        margin-left: -40px;
        font-size: 14px;
        width: 400px;

    }
    section .btn-special .btn-t{
        font-size: 12px;
    }
    footer .footer_logo .copy{

        margin-top: 0;
        text-align: initial;           
        margin-left: 40px;
        font-size: 12px;

    }
}
@media screen and (max-width: 474px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: 250px;
        background: #095757;
        margin-top: -300px;
        border-radius: 100%;

    }



    header .navar{
        position: absolute;
        top:60px; left:40; right:80px;
        background:#095757;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 150% 0, 50% 0, 0 0);
    }

    header .navar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        font-size: 2rem;
        background:#eee;
    }


    main .balance{
        flex-direction: column;
        font-size: 18px;
    }
    main .balance h2{
        margin-left: 30px;
        font-size: 16px;
    }
    main .balance h2 span{
        margin: auto;
        margin-left: 0px;
        font-size: 12px;
    }
    .table #type{    
        font-size: 15px;
        line-height: 2;
        width: 50px;
        font-weight: 300;
        margin-left: -100px;

    }
    .table #date{
        font-size: 12px;
        width: 100px;
        line-height: 2;
        letter-spacing: 0.1cm;    
        font-weight: 100;
    }

    .table #amount{

        font-size: 15px;
        line-height: 2;
        font-weight: 400;


    }
    .table #amount #span-amount{
        font-size: 8px;
    }

    section{
        flex-direction: column;
    }
    section  {
        margin-left: -50px;

    }
    section .title-section {
        margin-left: 50px;

    }

    section .btn-button{
        margin-left: 120px;
    }
    section .btn-special{
        left: 90px;
        font-size: 12px;
        width: 400px;

    }
    section .btn-special .btn-t{
        font-size: 14px;
    }

    section .title-h3{
        margin-left: 140px;

    }
    section .title-h3 h3{
        font-size: 10px;
    }

    section .opera{
        margin-left: 90px;
    }


    section .btn{
        margin-left: 50%;
    }
    section .btn-special{
        margin-left: -240px;
        font-size: 14px;

    }
    footer .footer_logo .copy{

        margin-top: 0;
        text-align: initial;           
        margin-left: 20px;
        font-size: 12px;

    }
}
@media screen and (max-width: 374px){

    header .icons #menu-bars{
        display: inline-block;
        margin-left: 250px;
        background: #095757;
        margin-top: -300px;
        border-radius: 100%;

    }



    header .navar{
        position: absolute;
        top:60px; left:40; right:80px;
        background:#095757;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 150% 0, 50% 0, 0 0);
    }

    header .navar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        font-size: 2rem;
        background:#eee;
    }


    main .balance{
        flex-direction: column;
        font-size: 18px;
    }
    main .balance h2{
        margin-left: 30px;
        font-size: 16px;
    }
    main .balance h2 span{
        margin: auto;
        margin-left: 0px;
        font-size: 12px;
    }
    .table #type{    
        font-size: 15px;
        line-height: 2;
        width: 50px;
        font-weight: 300;
        margin-left: -100px;

    }
    .table #date{
        font-size: 12px;
        width: 100px;
        line-height: 2;
        letter-spacing: 0.1cm;    
        font-weight: 100;
    }

    .table #amount{

        font-size: 15px;
        line-height: 2;
        font-weight: 400;


    }
    .table #amount #span-amount{
        font-size: 8px;
    }

    section{
        flex-direction: column;
    }
    section  {
        margin-left: -50px;

    }
    section .title-section {
        margin-left: 50px;

    }

    section .btn-button{
        margin-left: 90px;
    }
    section .btn-special{
        left: 90px;
        font-size: 12px;
        width: 400px;

    }
    section .btn-special .btn-t{
        font-size: 14px;
    }

    section .title-h3{
        margin-left: 90px;
        font-size: 10px;

    }
    section .title-h3 h3{
        font-size: 10px;
        text-align: center;

    }

    section .opera{
        margin-left: 80px;
    }


    section .btn{
        margin-left: 50%;
    }
    section .btn-special{
        margin-left: -80px;
        font-size: 14px;

    }
    footer .footer_logo .copy{

        margin-top: 0;
        text-align: initial;           
        margin-left: 20px;
        font-size: 12px;

    }
}


@media screen and (max-width: 1080px){
    section .btn-t {
        display: flex;
        align-items: center; 
        justify-content: center; 
        margin-top: 1em;
        margin-left: 21.5em;
        width: 20%;
        height: 50px;
        background: #000;
        color: #000;

        font-size: 20px;
        font-weight: 18.75em;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative; 
        overflow: hidden; 
        background-color: #f0c44e;

    }
}
@media screen and (max-width: 1175px){
    section .btn-t {
        display: flex;
        align-items: center; 
        justify-content: center; 
        margin-top: 1em;
        margin-left: 23.5em;
        width: 20%;
        height: 50px;
        background: #000;
        color: #000;

        font-size: 20px;
        font-weight: 18.75em;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative; 
        overflow: hidden; 
        background-color: #f0c44e;

    }
}








